<h1>Metaphor Database</h1>
<p>Search engine for prose, lyrics, and poetry metaphors.</p>


<br>


<%= link_to 'Create User (test)', pages_about_path, id: "about_link", remote: true %>

<br>
<!--
<%= form_for @user do |f| %>
    <%= f.text_field :username %>
    <%= f.text_field :email%>
    <%= f.submit %>
<% end %>
-->