<h1>Metaphor Database</h1>
<p>Search engine for prose, lyrics, and poetry metaphors.</p>
<%= image_tag("Poe.jpg", :size => '260x180' )%>

<br>
<%= link_to 'about', pages_about_path, id: "about_link", remote: true %>

<br>

<%= form_for @user do |f| %>
    <%= f.text_field :username %>
    <%= f.text_field :email%>
    <%= f.submit %>
<% end %>
